@import '../../../../sass/variables';

.publicationsList {
  margin-top: 12px;
}

.publicationCitation {

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  padding: 0;

  overflow: hidden;
  word-break: break-word;

  & > div.columns:nth-child(1) {
    margin-bottom: 0px !important;
  }

  .publicationActions {
    margin: 12px 0 !important;
  }

  .publicationSources, .citationSources {
    font-size: $text-body-small;

    .publicationSource {
      &:after {
        content: ', ';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }

  &:first-child {
    padding-top: 24px;
  }

  .publicationTitle {
    margin-bottom: 6px;
    color: $theme-color;
  }

  .citationContent {
    font-size: $text-body-normal;
    line-height: $text-line-height-normal;
    color: rgba($text-color, 0.8);
    margin-bottom: 12px;
    @include mobile {
      font-size: $text-body-small !important;
    }

    .citationJournalName {
      font-style: italic;
    }

    .citationTitle {
      font-style: italic;
    }

    .citationNewspaper {
      font-style: italic;
    }

    .citationVolumeNumber {
      font-style: italic;
    }

    .citationIcon {
      height: $text-body-small !important;
      width: $text-body-small !important;
      font-size: $text-body-small !important;
    }
  }

  .openExternalUrlIcon {
    height: $text-body-small !important;
    width: $text-body-small !important;
    font-size: $text-body-small !important;
    fill: $accent-color !important;
    color: $accent-color !important;
    margin: 0 2px;
    vertical-align: top;
  }

  .citationCounts {
    margin-top: 10px;

    .citationCount {
      margin: 0 5px;
      .fez-icon{
        margin-right: 3px;
      }

      .citationCountIcon {
        margin: 3px 3px -3px 0;
        width: 16px !important;
        height: 16px !important;
        color: $text-color !important;
        &.material-icons {
          margin: 1px 3px 0 0 !important;
          font-size: $text-body-small !important;
          height: $text-body-normal !important;
          width: $text-body-normal !important;
          line-height: 12px !important;
        }
      }

      .citationCountNumber {
        font-weight: $text-weight-bold;
      }
    }
  }

@include mobile {
    .publicationActions {
      margin: 12px;
      text-align: right;
    }
  }
}

.publicationsListPaging {
  .page.selectedPage {
    background-color: $theme-color !important;
    color: $text-color-reverse !important;
  }

}

