@import '~uqlibrary-react-toolbox/sass/variables';

.publicationsList {
  margin-top: 24px;
}

.publicationCitation {

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  padding: 6px;
  & > div.columns:nth-child(1) {
    margin-bottom: 0px !important;
  }

  .citationOpenUrlIcon, .titleOpenUrlIcon {
    width: 12px !important;
    height: 12px !important;
    fill: $accent-color !important;
    margin: 0 2px;
    vertical-align: top;
  }

  .publicationActions {
    margin: 12px 0 !important;
  }

  .publicationSources, .citationSources {
    font-size: 12px;

    .publicationSource {
      &:after {
        content: ', ';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }

  &:first-child {
    padding-top: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  .publicationTitle {
    margin-bottom: 6px;
  }

  .citationContent {
    font-size: 12px;
    line-height: 16px;
    color: rgba($text-color, 0.88);
    margin-bottom: 12px;

    .citationAuthors {
      .citationAuthor {
      }
    }

    .citationPublisher {
    }

    .citationTitle {
    }

    .citationJournalName {
      font-style: italic;
    }
    .citationVolumeNumber {
      font-style: italic;
    }

    .citationIssueNumber {
    }

    .citationStartPage {
    }

    .citationEndPage {
    }

    .citationDOI {
    }

    .citationIcon {
      font-size: 12px !important;
    }
  }

  .citationOpenUrlIcon, .titleOpenUrlIcon {
    width: 12px !important;
    height: 12px !important;
    fill: $accent-color !important;
    margin: 0 2px;
    vertical-align: top;
  }

  .citationCounts {
    margin-top: 10px;

    .citationCount {
      margin: 0 5px;
      .fez-icon{
        margin-right: 3px;
      }

      .citationCountIcon {
        margin: 3px 3px -3px 0;
        width: 16px !important;
        height: 16px !important;
        color: $text-color !important;
        font-size: 1.2em !important;
        line-height: 1.2em !important;
        &.material-icons {
          margin: 1px 3px 0 0 !important;
        }
      }

      .citationCountNumber {
        font-weight: bold;
      }
    }
  }

  @media (max-width: 768px) {
    .publicationActions {
      margin: 12px;
      text-align: right;
    }
  }
}

.publicationsListPaging {

  .page.selectedPage {
    background-color: $theme-color !important;
    color: $text-color-reverse !important;
  }

}

