a.researchgate {
  width: 20px;
  height: 20px;
}
a.researchgate::before {
  content: url(../../src/images/researchgate_icon.svg);
}

.shareThis {
  @include mobile {
    zoom: 2;
    text-align: center !important;
    a {
      text-align: center !important;
      margin: 1px !important;
    }
  }
}
