@import '~uqlibrary-react-toolbox/sass/variables';

// Some styling over-rides on the app bar.
.AppBar {
  position: fixed !important;
  top: 0px;
  left: 0px;
  h1 {
    height: 75px !important;
    line-height: 75px !important;
  }
  button {
    line-height: 75px;
  }
}