@import './variables';

// An MUI override to make form labels WCAG AA compliant
label {
  color: $label-color !important;
  font-size: $text-body-large;
  font-weight: $text-weight-normal;
  line-height: $text-line-height-xlarge;
}

.selectField button:focus {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: $secondary-color-light !important;
}

// Negates the 12px vertical padding by Bulma - only in the body of each card - allowing MUI components to space themselves
form .column {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

// Bulma helper
@include mobile {
  .is-hidden-mobile {
    display: none !important;
  }
}

// remove the X clear button in microsoft edge
input::-ms-clear {
  display: none;
}

// Cards should always fill their available space.
.card-full-height {
  height: 100% !important;
}

// Centering helper
.is-centered {
  text-align: center;
  align-content: center;
}

.action-buttons {
  margin-top: 0px !important;
}

// Bring a button down to meet the baseline of an input on the same row
@include tablet {
  .is-mui-spacing-button {
    margin-top: 30px !important;
  }
}

// Stop MUI button labels from wrapping
button[type=button] {
  white-space: nowrap;
}

// Adds red asterix to required fields
.requiredField label:before,
.requiredHintField div:first-child:before {
  content: "*";
  padding-right: 5px;
  padding-left: 5px;
  color: $error-color;
}

// To negate the spacing fix for column inside a form
@include mobile {
  div.columns.action-buttons > .column {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}

// Styles to remove header and all padding for a StandardCard so the content will fill it
.card-paddingless {
  padding: 0px !important;
  & .card-header {
    padding: 0px !important;
    display: none !important;
  }
  & div.body-1 {
    padding: 0px !important;
    @include mobile {
      -ms-word-break: break-word;
      word-break: break-word;
    }
  }
}

// Repositions the help icon
.is-helpicon {
  margin: -10px 5px 0 0 !important;
  &:hover {
    z-index: 999;
  }
}

// Some styling over-rides on the app bar.
.AppBar {
  position: fixed !important;
  top: 0px;
  left: 0px;
  // spaces the right hand AppBar panel and main menu button correctly
  >div:nth-child(3), .main-menu-button {
    margin-top: 12px !important;
  }
  h1 {
    height: 75px !important;
    line-height: 75px !important;
  }
  .auth-button-column {
    padding-left: 12px !important;
  }
  .appbar-right-columns {
    @include tablet {
      width: 350px !important;
    }
    @include desktop {
      width: 500px !important;
    }
  }
}
#contentContainer:focus {
  outline: none;
}

// Class to space elements against scroll bars
.scrollbar-spacer{
  width: 6px;
  @include mobile {
    width: 6px !important;
  }
}
.scrollbar-spacer-infinite{
    width: 20px !important;
  @include mobile {
    width: 6px;
  }
}

// Styles to restyle the react-tooltip component
.reactTooltip{
margin-top: 6px !important;
  padding: 6px 10px !important;
  font-size: $text-body-xsmall !important;
  background: lighten($text-color, 20%) !important;
  color: $text-color-reverse !important;
  &.place-right::after {
    border-color: transparent lighten($text-color, 20%) !important;
    border-right: 2px solid inherit !important;
  }
  &.place-top::after {
    border-color: lighten($text-color, 20%) transparent !important;
    border-top: 2px solid inherit !important;
  }
  &.place-bottom::after {
    border-color: lighten($text-color, 20%) transparent !important;
    border-bottom: 2px solid inherit !important;
  }
  &.place-left::after {
    border-color: lighten($text-color, 20%) transparent !important;
    border-left: 2px solid inherit !important;
  }
}

.validationMessage {
  .validationList {
    margin: 6px 0;
    .validationItem {
    }
  }
}

.no-overflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
