@import '~uqlibrary-react-toolbox/sass/variables';

// An MUI override to make form labels WCAG AA compliant
label {
  color: $label-color !important;
}

.selectField button:focus {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: $secondary-color-light !important;
}

// Negates the 12px vertical padding by Bulma - only in the body of each card - allowing MUI components to space themselves
form .column {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


// Bulma helper
@media (max-width: 768px){
  .is-hidden-mobile{
    display: none !important;
  }
}