@import '~uqlibrary-react-toolbox/sass/variables';

// An MUI override to make form labels WCAG AA compliant
label {
  color: $label-color !important;
}

.selectField button:focus {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: $secondary-color-light !important;
}

// Negates the 12px vertical padding by Bulma - only in the body of each card - allowing MUI components to space themselves
form .column {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


// Bulma helper
@media (max-width: 768px){
  .is-hidden-mobile{
    display: none !important;
  }
}

// remove the X clear button in microsoft edge
input::-ms-clear {
  display: none;
}

// Bring a button down to meet the baseline of an input on the same row
.is-mui-spacing-button {
  margin-top: 30px !important;
}

// Adds red asterix to required fields
.requiredField label:after {
  content: " *";
  color: $error-color;
}