@import './variables';

// An MUI override to make form labels WCAG AA compliant
label {
  color: $label-color !important;
}

.selectField button:focus {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-color: $secondary-color-light !important;
}

// Negates the 12px vertical padding by Bulma - only in the body of each card - allowing MUI components to space themselves
form .column {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

// Bulma helper
@include mobile {
  .is-hidden-mobile {
    display: none !important;
  }
}

// remove the X clear button in microsoft edge
input::-ms-clear {
  display: none;
}

// Cards should always fill their available space.
.card-full-height {
  height: 100% !important;
}

// Centering helper
.is-centered {
  text-align: center;
  align-content: center;
}

.action-buttons {
  margin-top: 0px !important;
}

// Bring a button down to meet the baseline of an input on the same row
@include tablet {
  .is-mui-spacing-button {
    margin-top: 30px !important;
  }
}

// Stop MUI button labels from wrapping
button[type=button] {
  white-space: nowrap;
}

// Adds red asterix to required fields
.requiredField label:after {
  content: "*";
  padding-right: 5px;
  padding-left: 5px;
  color: $error-color;
}

// To negate the spacing fix for column inside a form
@include mobile {
  div.columns.action-buttons > .column {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}

// Styles to remove header and all padding for a StandardCard so the content will fill it
.card-paddingless {
  padding: 0px !important;
  & .card-header {
    padding: 0px !important;
    display: none !important;
  }
  & div.body-1 {
    padding: 0px !important;
  }
}

// Fixes text input where the hint text wraps, and sits over a floating label
@include mobile {
  .input-long-hint > div {
    width: 100% !important;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// Repositions the help icon
.is-helpicon {
  margin: -10px 5px 0 0 !important;
  &:hover {
    z-index: 999;
  }
}

// Some styling over-rides on the app bar.
.AppBar {
  position: fixed !important;
  top: 0px;
  left: 0px;
  h1 {
    height: 75px !important;
    line-height: 75px !important;
  }
  button {
    line-height: 75px;
  }
}

// Class to space elements against scroll bars
.scrollbar-spacer{
  width: 17px !important;
}