.uq-table {
  width: 100%;
  border-spacing: 0;
  table-layout: auto;
  border-collapse: collapse;

  // Shared thead / tbody rules
  thead, tbody {
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      th, td {
        padding: 0 24px;
        text-align: left;
      }
    }
  }

  // Head
  thead {
    tr {
      th {
        font-size: 12px;
        font-weight: bold;
        line-height: 56px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }

  // Body
  tbody {
    tr {
      td {
        font-size: 13px;
        line-height: 48px;
        color: rgba(0, 0, 0, 0.87);

        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.multi-line {
          white-space: normal;
          line-height: inherit;
        }
      }
    }
  }

  &.hover {
    tbody > tr:hover, tbody > tr.active {
      background-color: #EEE;
      cursor: pointer;

      &.no-hover {
        cursor: inherit;
        background-color: inherit;
      }
    }
  }
}
