@import '~uqlibrary-react-toolbox/sass/variables';

// Bulma titles are too bold
.title {
  font-weight: 400 !important;
}

//Desktop
@media (min-width: 768px) {
  // Fix for page titles to sit in MUI space
  div.layout-fill h1.title {
    max-width: 1200px;
    width: 90%;
    margin: 24px auto !important;
    padding: 0 !important;
    white-space: normal !important;
    color: $theme-color !important;
  }
}

//Mobile
@media (max-width: 768px) {
  // Fix for page titles to sit in MUI space
  h1.title.is-3 {
    max-width: 1200px;
    width: 90%;
    margin: 24px auto 12px auto !important;
    padding: 0 !important;
    white-space: normal !important;
    color: $theme-color !important;
    font-size: 24px !important;
    line-height: 1em !important;
  }
  h2.title.is-4 {
    font-size: 18px !important;
    line-height: 1em !important;
    margin-bottom: 12px !important;
  }
}
