$font-family: 'Roboto', sans-serif;
$uq-primary-color: #49075e;
$uq-accent-color: #4285f4;

//theme colours
$theme-color: #49075E;
$theme-color-dark: #370546;
$theme-color-lighter: #6B0C8A;
$theme-color-light: #d2c1d7;

$accent-color: #2377CB;
$accent-color-light: #288BED;
$accent-color-lighter: #D9EEFF;
$accent-color-dark: #005EA5;

$secondary-color: #595959;
$secondary-color-light: #f2f2f2;
$secondary-color-dark: #333;

$error-color: #FF3A11;
$border-color: #CCC;
$available-color: #64b10b;
$unavailable-color: #ce4627;

//special elements colours
$menu-background-color: #fff;