@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
$font-family: 'Roboto', Arial, sans-serif;

// Breakpoints
$tablet: 720px;
$desktop: 1024px;

//Typography
$title-xlarge: 38px;
$title-large: 32px;
$title-medium: 24px;
$title-small: 22px;
$title-xsmall: 20px;
$title-xxsmall: 16px;

$text-body-large: 16px;
$text-body-normal: 14px;
$text-body-small: 12px;
$text-body-xsmall: 11px;

$text-line-height-large: 20px;
$text-line-height-normal: 18px;
$text-line-height-small: 14px;
$text-line-height-xsmall: 12px;

$text-weight-bold: 400;
$text-weight-normal: 300;
$text-weight-light: 100;

$text-color: #333333;
$text-color-reverse: #FFFFFF;

// Theme colours
$theme-color: #49075E;
$theme-color-dark: #370546;
$theme-color-lighter: #6B0C8A;
$theme-color-light: #d2c1d7;

$accent-color: #2377CB;
$accent-color-light: #288BED;
$accent-color-lighter: #D9EEFF;
$accent-color-dark: #005EA5;

$secondary-color: #595959;
$secondary-color-light: #f2f2f2;
$secondary-color-dark: #333333;

$error-color: #e02500;
$warning-color: #f06f0d;
$info-color: #0e78f1;
$border-color: #CCCCCC;
$available-color: #64b10b;
$unavailable-color: #ce4627;
$header-color: #444444;
$label-color: #888888;

//special elements colours
$menu-background-color: #FFFFFF;
$main-background-color: #F7F7F7;

// Colors for dashboard graphs
$graph-background-color-1 : #d72865;
$graph-background-color-2 : #1e7d94;

$graph-color-1: #49075E;
$graph-color-2: #468fcc;
$graph-color-3: #f28620;
$graph-color-4: lighten($secondary-color, 33%);
$graph-color-5: darken($secondary-color, 10%);