// Vendor
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

// Import the main toobox styles
@import '~uqlibrary-react-toolbox/sass/index';

// Import toobox components styles
@import '~uqlibrary-react-toolbox/sass/components';

// Import the fez-frontend modules styles
@import './components';
// Import specific style for the AppBar
@import './appbar';
// Import a style for the helpicon placement
@import './helpicon';
// Import styles to override MUI defaults for UX
@import './muifixes';
// Fixes for bulma title styles
@import './titles';
// Charts styles from toolbox
@import "./charts";
// SVG Icons
@import "./icons";
