// Charts styles from toolbox
@import "./charts";
// SVG Icons
@import "./icons";
// Import the fez-frontend modules styles
@import './components';
// Print styles
@import "./print";
// Browser update script styles
@import './browserUpdate';

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #F7F7F7;
}

a {
  color: #3872a8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.noHover {
    &:hover {
      text-decoration: none;
    }
  }
}

.smallLogo,
.largeLogo {
  color: transparent;
  background: center center url(../../src/images/uq-logo-white-minimal.svg) no-repeat;
}

.largeLogo {
  background-image: url('../../src/images/uq-logo-white-2018.svg');
}

.layout-fill {
  margin: 0; padding: 0;
  max-height: 100%;
  height: 100%;
}

.layout-card {
  max-width: 1200px;
  margin: 24px auto;
  width: 90%;
  padding: 0;
}

// The containers which houses content
.content-container {
  width: 100%;
  height: calc(100% - 75px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
}

// Citation styles
.citationContent {
  .citationJournalName, .citationTitle, .citationNewspaper, .citationVolumeNumber {
    font-style: italic;
  }
}
