.idea/workspace.xml
.idea/preferred-vcs.xml
.idea/watcherTasks.xml
.idea/composerJson.xml
.idea/php.xml
.idea/markdown-navigator*
.idea/markdown-exported-files.xml
.idea/dbnavigator.xml
.idea/markdown-navigator.xml
.idea/shelf/
node_modules
dist
npm-debug.log*
.DS_Store

#ignore .env files
.env*

e2eTestLog
chromedriver.log
coverage
yarn.lock
frontend.json
# ignore js bungle analyser files
assets
bundle.js
bundle.js.map
favicon.ico
index.html
stats.json
cypress/videos
cypress/screenshots

# Code Coverage checker temp dir
.nyc_output