.idea
node_modules
dist
npm-debug.log*
.DS_Store

#ignore .env files
.env*

e2eTestLog
chromedriver.log
/coverage
yarn.lock
frontend.json
# ignore js bungle analyser files
assets
bundle.js
bundle.js.map
favicon.ico
index.html
stats.json
cypress/videos
cypress/screenshots
cypress/downloads/*
# Ignore everything in cypress/downloads
cypress/downloads/*
# But do not ignore .gitkeep
!cypress/downloads/.gitkeep

# Code Coverage checker temp dir
.nyc_output

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/monocart-report/
