.idea
node_modules
dist
npm-debug.log*
.DS_Store

#ignore .env files
.env*

e2eTestLog
chromedriver.log
/coverage
yarn.lock
frontend.json
# ignore js bungle analyser files
assets
bundle.js
bundle.js.map
favicon.ico
index.html
stats.json

# Code Coverage checker temp dir
.nyc_output

# Playwright
/playwright/.results
/playwright/.cache
