@import '../../../sass/variables';

// Snackbar styles for online/offline status
.offlineSnackbar {
  .connectionStatus {
    white-space: nowrap;
    svg {
      width: 32px !important;;
      height: 32px !important;;
      margin: 8px 6px 0 0 !important;;
    }
    &.online {
      svg {
        fill: $available-color !important;
      }
    }
    &.offline {
      svg {
        fill: $error-color !important;
      }
    }
  }
}
