@import '../../../sass/variables';

.Author {
  padding: 0 0 10px 0;
  hr{
    margin: 0px 0 10px 0 !important;
  }
  .authorLeftIcon{
    padding: 3px;
    line-height: 32px !important;

  }
  .authorRightIcon {
    line-height: 32px;

  }
  .authorName {
    padding-left: 10px;
    line-height: 32px;
    font-weight: 500;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;

    //border: 1px dashed red;
  }
}

// Padding between inputs when not in mobile <600px mode
div.row-sm.column.align-stretch.align-center-sm .inputPadding, div.row .inputPadding {
  padding-right: 16px;
}
@media (max-width: 600px){
  div.row-sm.column.align-stretch.align-center-sm .inputPadding {
    padding-right: 0px;
  }
}

// Set the MaterialUI inputs labels to ellipsis when too long..
.row-sm label, .row label, .column label, .column-sm label  {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
