@import '../../../../sass/variables';

// Snackbar styles for online/offline status
.offlineSnackbar {
  &>div>div {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  .connectionStatus {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    svg {
      width: 32px !important;;
      height: 32px !important;;
      margin: 8px 6px 0 0 !important;;
    }
    &.online {
      svg {
        fill: $available-color !important;
      }
    }
    &.offline {
      svg {
        fill: $error-color !important;
      }
    }
  }
}
