@import '../../../../../sass/variables';

.file-instructions {
  margin: 20px 0 0 0;
  padding: 16px;
  background-color: $secondary-color-light;
  border: 2px dashed lighten($secondary-color, 20%); // #8D8D8D
  font-size: $text-body-small;
  line-height: $text-line-height-small;

  div, span, h3 {
    color: $secondary-color !important;
  }

  h3 {
    font-weight: $text-weight-bold !important;
  }

  .upload-instructions {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center !important;
    .material-icons {
      font-size: 36px !important;
    }
  }
}

.sub-title {
  font-size: $text-body-large;
  padding: 0;
}

.disclaimer {
  font-size: $text-body-small;

  span {
    font-weight: $text-weight-bold;
  }
}

.metadata-container {
  padding: 10px;
}

.file-access-selector {
  hr {
    display: none;
  }
  .selectField {
    font-size: $text-body-normal !important;
    max-width: 200px;
  }
}

.embargo-date-picker {
  display: block;
  hr {
    display: none;
  }
  input {
    font-size: $text-body-normal !important;
  }
  div {
    font-size: $text-body-normal;
    width: unset !important;
    max-width: 256px;
  }
}

.fileUploadErrorMessage {
  padding: 12px;
  color: darken($error-color, 10%);
  border: 1px solid darken($error-color, 10%);
  background-color: rgba($error-color, 0.025);
  vertical-align: middle;
  .Message {
    line-height: 50px;
    text-indent: 12px;
    margin-top: 0px !important;
  }
  .Icon {
    text-align: center;
    margin: 0 !important;
    font-size: 48px;
    .material-icons {
      font-size: 48px !important;
      color: darken($error-color, 10%) !important;
      margin: 0px auto !important;
    }
  }
}

.headers {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  .header {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    line-height: 40px !important;
  }
}

.buttons {
  padding-top: 8px !important;
}

.file-info {
  .file-name {
    line-height: 48px;
    display: flex;
    .truncated {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.no-embargo-date {
  span {
    line-height: 48px;
  }
}

.open-access-checkbox {
  label {
    text-align: justify;
  }
}

.upload-progress {
  padding: 12px 0px 0px 0px !important;
}

.upload-progress-number {
  color: rgba(51, 51, 51, 0.66);
  font-size: 10px;
}

.error-checkbox, .open-access-checkbox {
  div:first-of-type {
    flex: none !important;
    margin-bottom: 6px !important;
  }
}

//Mobile
@include mobile {
  .fileUploadErrorMessage {
    min-height: 60px;

    .Message {
      padding: 12px !important;
      line-height: 18px;
      margin-top: 0px !important;
    }
    .Icon {
      margin: 0 0 10px 0;
      height: 60px !important;
      width: 60px !important;
    }
  }

  /*
   * File information
   */
  .file-info {
    display: flex !important;
    .file-name, .embargo-date-info {
      flex-direction: column;
      display: flex;
      flex-grow: 2;
      padding-left: 10px;
      min-width: 0;
      line-height: $text-line-height-large !important;
      .truncated {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  /*
   * Access selector
   */
  .file-access-selector {
    display: flex;
    span:nth-child(1) {
      padding-top: 12px;
    }
    .select-container {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .selectField {
        div:nth-child(4) {
          font-size: 9px !important;
          margin-top: -12px;
        }
      }
      span {
        margin-top: -8px;
      }
    }
  }

  /*
   * Embargo date
   */
  .embargo-date-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
    .material-icons {
      padding-top: 12px;
    }
    .no-embargo-date {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
       span {
         line-height: $text-line-height-large !important;
       }
    }
    .embargo-date-selector {
      display: flex;
      flex-direction: column;
      span {
        padding-left: 10px;
      }
      .embargo-date-picker {
        margin-left: 10px;
        div:nth-child(1) {
          height: unset !important;
          width: 200px;
          div:nth-child(4) {
            font-size: 9px !important;
          }
        }
      }
    }
  }

  .open-access-checkbox {
    position: relative;
    width: 100%;
    label {
      width: calc(100% - 45px);
      text-align: justify;
      margin-left: -6px;
    }
  }
}


