@import '../../../../../sass/variables';

.metadata-container {
  padding: 10px;
}

.embargo-date-picker {
  display: block;
  hr {
    display: none;
  }
  input {
    font-size: $text-body-normal !important;
  }
  div {
    font-size: $text-body-normal;
    width: unset !important;
    max-width: 256px;
  }
}

//Mobile
@include mobile {
  /*
   * Embargo date
   */
  .embargo-date-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
    .material-icons {
      padding-top: 12px;
    }
    .no-embargo-date {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
       span {
         line-height: $text-line-height-large !important;
       }
    }
    .embargo-date-selector {
      display: flex;
      flex-direction: column;
      span {
        padding-left: 10px;
      }
      .embargo-date-picker {
        margin-left: 10px;
        div:nth-child(1) {
          height: unset !important;
          width: 200px;
          div:nth-child(4) {
            font-size: 9px !important;
          }
        }
      }
    }
  }
}


