@import '../../../../../sass/variables';

.app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $theme-color;
  width: 100%;
  height: 100%;
  text-align: center !important;

  h1 {
    color: $text-color-reverse;
  }
  .app-loader-content {
    height: 300px;
  }
}
