@import '../../../../../sass/variables';
.dateTitle {
  margin: 28px 0 -10px 0;
  @include mobile {
    margin: 28px 0 -6px 0;
  }
  font-size: $text-body-small;
  color: lighten($secondary-color, 10%);
  &.required::before {
    content: "*";
    padding-right: 5px;
    padding-left: 5px;
    color: $error-color;
  }
}
