.author-linking-checkbox {
  position: relative;
  width: 100%;
  padding-left: 14px;
  div {
    div {
      div {
        margin-right: 8px !important;
      }
    }
  }
}

.author-linking-checkbox.error-checkbox {
  div:first-of-type {
    margin-bottom: 0 !important;
  }
}
