// Desktop
@media (min-width: 768px) {
  .authorList {
    min-height: 20px !important;
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    -webkit-columns: 4 !important;
    -moz-columns: 4 !important;
    columns: 4 !important;
    -moz-column-fill: balance !important;
    column-fill: balance !important;

    button.selectedAuthor {
      color: green !important;
      opacity: 1.0 !important;
      font-weight: bold !important;
    }

    button.unSelectedAuthor {
      opacity: 0.6 !important;
      cursor: pointer !important;
      &:hover {
        opacity: 1.0 !important;
      }
    }

    .subTitleHidden {
      display: none !important;
    }
  }

  .confirmBox {
    margin: 24px !important;
  }
}

// Mobile
@media (max-width: 768px) {
  .authorList {
    min-height: 20px !important;
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    -webkit-columns: 2 !important;
    -moz-columns: 2 !important;
    columns: 2 !important;
    -moz-column-fill: balance !important;
    column-fill: balance !important;

    button.selectedAuthor {
      color: green !important;
      opacity: 1.0 !important;
      font-weight: bold !important;
    }

    button.unSelectedAuthor {
      opacity: 0.6 !important;
      cursor: pointer !important;
      &:hover {
        opacity: 1.0 !important;
      }
    }

    .subTitleHidden {
      display: none !important;
    }
  }

  .confirmBox {
    margin: 24px !important;
    label {
      white-space: normal !important;
    }
  }
}