.author-button {
  margin: 2px !important;
  button {
    text-align: left !important;
    white-space: inherit !important;
    height: unset !important;
  }
}

.author-link-name {
  width: 70%;
}

.author-linking-checkbox {
  position: relative;
  width: 100%;
  padding-left: 14px;
  div {
    div {
      div {
        margin-right: 8px !important;
      }
    }
  }
}

.author-linking-checkbox.error-checkbox {
  div:first-of-type {
    display: table !important;
    margin-bottom: 0 !important;
  }
}

.author-link-order {
  margin-top: -12px;
  margin-bottom: 15px;
}

.author-link-order-text {
  font-size: $text-body-xsmall;
  margin-left: 45px;
  color: rgba($text-color, 0.75);
}

.author-link-status {
  float: left;
  margin-top: 6px;
}

.author-link-infinite-scroll {
  > div {
    width: 100% !important;
  }
}

.author-link-list {
  border: 1px solid rgba($text-color, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
