.authorList {
    min-height: 100px;
    width: 100%;
    overflow: hidden;
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 5;
    -moz-column-fill: balance;
    column-fill: balance;

    .selectedAuthor {
        color: green !important;
        font-weight: bold !important;
    }
    .unselectedAuthor {
        cursor: pointer;
    }

    .subTitleHidden {
        display: none;
    }
}
.confirmBox {
    margin: 24px !important;
}