@import '../../../../sass/index';

.authorList {
  min-height: 20px !important;
  width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-columns: 5 !important;
  -moz-columns: 5 !important;
  columns: 5 !important;
  -moz-column-fill: balance !important;
  column-fill: balance !important;

  div.selectedAuthor {
    color: green !important;
    opacity: 1.0 !important;
    font-weight: bold !important;
  }

  div.unSelectedAuthor {
    opacity: 0.6 !important;
    cursor: pointer !important;
    &:hover {
      opacity: 1.0 !important;
    }
  }

  .subTitleHidden {
    display: none !important;
  }
}

.confirmBox {
  margin: 24px !important;
}