@import '~uqlibrary-react-toolbox/sass/variables';

div.searchWrapper.columns {
    max-width: 1280px !important;
    margin: 0 auto;
}
.searchDashboardDesktop {
  min-width: 140px;
  .searchDashboardList {
    margin: 6px 0;
    font-weight: $text-weight-normal;
  }
}

.searchDashboardMobile {
  padding: 12px 5% !important;
  .searchDashboardBar {
    background-color: lighten($secondary-color, 30) !important;
    height: 12px !important;
    & div {
      background-color: $theme-color !important;
    }
  }
}