@import '../../../../sass/variables';

.searchComponent {
  .searchQueryCaption {
    margin-top: 24px;
    font-size: $text-body-small !important;
    word-break: break-all;
    hyphens: auto !important;
    .combiner {
      font-style: italic !important;
      opacity: 0.66 !important;
    }
    .title.lowercase {
      text-transform: lowercase !important;
    }
    .value {
      font-weight: $text-weight-bold !important;
    }
  }
  // Override search box X
  input[type="search"]::-webkit-search-cancel-button {
      height: 24px;
      width: 24px;
      opacity: 0.3;
      &:hover, &:focus {
        opacity: 0.6;
     }
  }
  .searchButtonWrapper {
    margin-top: 28px !important;
    @include mobile {
      margin-top: 6px !important;
    }
    @include tablet {
      margin-left: 12px !important;
    }
  }
  .advancedSearchButtonWrapper {
    margin-top: 28px !important;
    @include mobile {
      margin-top: 6px !important;
    }
  }
  .searchIconPrefix {
    svg {
      margin: 12px 12px -6px 12px;
      fill: lighten($secondary-color, 25%) !important;
    }
  }
  .advancedButton {
    margin-left: 6px !important;
    @include mobile {
      margin-top: 6px !important;
      margin-left: 0 !important;
    }
  }
  &.header {
    // Override search box X size
    input[type="search"]::-webkit-search-cancel-button {
      margin-right: 12px;
      @include mobile {
        height: 32px;
        width: 32px;
      }
        opacity: 0.3;
      &:hover, &:focus {
        opacity: 0.6;
      }
    }

    .iconSearchButtonWrapper {
      @include mobile {
        display: none;
      }
    }
    .searchButtonWrapper {
        display: none;
    }
    .search-field {
      background-color: $text-color-reverse;
      @include mobile {
        position: absolute;
        width: 100%;
        height: 75px;
        top: 0;
        left: 0;
        z-index: 200;
        &> div > div:nth-child(1) {
          height: 75px !important;
          & > div:nth-child(1) { // Search input label
            bottom: 0px !important;
            font-size: 24px !important;
            line-height: 75px !important;
            font-weight: $text-weight-light !important;
          }
        }
        & input { // Search input field
          margin-top: 0px !important;
          font-size: 24px !important;
          line-height: 75px !important;
          font-weight: $text-weight-light !important;
          color: lighten($text-color, 20%) !important;
        }
        &.showMobile {
          display: inherit;
        }
        &.hideMobile {
          display: none;
        }
      }
    }
    .mobileBackArrow {
      @include mobile {
        width: 70px !important;
        height: 70px !important;
        margin-top: 4px !important;
        svg {
          fill: lighten($secondary-color, 40%) !important;
          margin-top: -8px !important;
          margin-left: 6px !important;
          width: 32px !important;
          height: 32px !important;
        }
      }
    }
    .mobileSpacer {
      @include mobile {
        width: 24px !important;
      }
    }
    .searchButton {
      margin-left: 12px;
      color: $text-color-reverse;
      svg {
        fill: $text-color-reverse !important;
      }
      &:focus {
        color: $theme-color-dark;
        svg {
          fill: $theme-color-dark;
          color: $theme-color-dark;
        }
      }
    }
    .advancedButton {
      display:none !important;
    }
  }
}

.advancedSearch {
  .openAccessCheckbox {
    margin-top: 12px;
    padding-bottom: 2px;
    @include mobile {
      margin-top: 0;
      padding-bottom: 0;
    }
    @include tablet-only {
      margin-top: -12px;
      padding-bottom: 2px;
    }
    label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis !important;
    }
  }
  .advancedSearchButton, .advancedSearchOpenAccessCheckbox {
    @include desktop {
      width: 100% !important;
      min-width: 225px !important;
    }
    @include tablet {
      width: 100% !important;
    }
  }
  .advancedSearchOpenAccessCheckbox {
    @include tablet-only {
      margin-top: 18px !important;
    }
    @include mobile {
      margin-top: 12px !important;
    }
  }
  .actionButtons {
    .column {
      @include tablet {
        margin: 3px !important;
      }
      @include mobile {
        margin: 3px !important;
      }
    }
  }
  .advancedSearchRow {
    @include desktop {
      margin-bottom: -12px !important;
    }
    @include tablet {
      margin-bottom: -12px !important;
    }
    .column.combiner {
      overflow: hidden;
      @include mobile {
        text-align: right !important;
        margin: 0 0 0 12px !important;
      }
      span {
        line-height: 50px !important;
        font-style: italic;
        color: lighten($secondary-color, 33%);
        text-overflow: ellipsis;
        white-space: nowrap;
        @include desktop {
          padding: 0 12px !important;
        }
        @include tablet {
          padding: 0 12px !important;
        }
      }
    }
    .column.input {
      &>div>div:nth-of-type(1){
        width: 100% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
      }
      @include mobile {
        margin-top: -12px !important;
      }
    }
    // Override search box X
    input[type="search"]::-webkit-search-cancel-button {
      display: none;
    }

    .spacer {
      width: 6px !important;
      @include mobile {
        width: 0.1px !important;
      }
    }
    .deleteFieldButton {
      margin-top: 6px !important;
      opacity: 0.33;
      @include mobile {
        margin: -12px 0 0 -8px !important;

      }
      &:hover {
        opacity: 0.66;
      }
    }
  }
}
