@import '../../../../sass/variables';

.search-component {
  // Override search box X
  input[type="search"]::-webkit-search-cancel-button {
      height: 24px;
      width: 24px;
      opacity: 0.3;
      &:hover, &:focus {
        opacity: 0.6;
     }
  }
  .search-button-wrapper {
    @include tablet {
      margin-left: 12px !important;
    }
  }
  .search-icon-prefix {
    svg {
      margin: 12px 12px -6px 12px;
      fill: lighten($secondary-color, 25%) !important;
    }
  }
  .advancedButton {
    margin-left: 6px !important;
    @include mobile {
      margin-top: 6px !important;
      margin-left: 0 !important;
    }
  }

  &.header {
    // Override search box X size
    input[type="search"]::-webkit-search-cancel-button {
      margin-right: 12px;
      @include mobile {
        height: 32px;
        width: 32px;
      }
        opacity: 0.3;
      &:hover, &:focus {
        opacity: 0.6;
      }
    }

    .icon-search-button-wrapper {
      @include mobile {
        display: none;
      }
    }
    .search-button-wrapper {
        display: none;
    }
    .search-field {
      background-color: $text-color-reverse;
      @include mobile {
        position: absolute;
        width: 100%;
        height: 75px;
        top: 0;
        left: 0;
        z-index: 200;
        &> div > div:nth-child(1) {
          height: 75px !important;
          & > div:nth-child(1) { // Search input label
            bottom: 0px !important;
            font-size: 24px !important;
            line-height: 75px !important;
            font-weight: $text-weight-light !important;
          }
        }
        & input { // Search input field
          margin-top: 0px !important;
          font-size: 24px !important;
          line-height: 75px !important;
          font-weight: $text-weight-light !important;
          color: lighten($text-color, 20%) !important;
        }
        &.showMobile {
          display: inherit;
        }
        &.hideMobile {
          display: none;
        }
      }
    }
    .mobileBackArrow {
      @include mobile {
        width: 70px !important;
        height: 70px !important;
        margin-top: 4px !important;
        svg {
          fill: lighten($secondary-color, 40%) !important;
          margin-top: -8px !important;
          margin-left: 6px !important;
          width: 32px !important;
          height: 32px !important;
        }
      }
    }
    .mobileSpacer {
      @include mobile {
        width: 24px !important;
      }
    }
    .search-button {
      margin-left: 12px;
      color: $text-color-reverse;
      svg {
        fill: $text-color-reverse !important;
      }
      &:focus {
        color: $theme-color-dark;
        svg {
          fill: $theme-color-dark;
          color: $theme-color-dark;
        }
      }
    }
    .advancedButton {
      display:none !important;
    }
  }
}
.advancedSearchField {
  margin-bottom: -12px !important;
  .combiner span {
    padding: 0 12px !important;
    line-height: 50px !important;
    font-style: italic;
    color: lighten($secondary-color, 33%);
  }
  // Override search box X
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  .deleteFieldButton {
    margin-top: 6px !important;
    opacity: 0.33;
    &:hover {
      opacity: 0.66;
    }
  }
}

