.uploadFileDialog {
  .Stepper {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    > div:first-child {
      padding: 0 !important;
    }

    .stepLabel {
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 0px !important;
    }
  }

  .actionsPanel {
    padding-bottom: 24px !important;
    padding-right: 24px !important;

    .prevBtn {
      margin-right: 10px !important;
    }
  }

  .stepperContentPanel {
    padding-bottom: 0px !important;
  }

  .access > .flex.column:first-child {
    padding: 0px;
    .base-input-container {
      height: 72px !important;
    }
  }
}
