@import '~uqlibrary-react-toolbox/sass/variables';

.file-instructions {
  margin: 20px 0 0 0;
  padding: 16px;
  background-color: #F5F5F5;
  border: 2px dashed #8D8D8D;
  font-size: 0.9em;
  line-height: 1.2em;

  div, span, h3 {
    color: #757575 !important;
  }

  h3 {
    font-weight: bold !important;
  }

  .upload-instructions {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center !important;
    .material-icons {
      font-size: 36px !important;
    }
  }
}

.sub-title {
  font-size: 16px;
  padding-bottom: 12px;
  padding-top: 8px;
}

.disclaimer {
  font-size: 12px;

  span {
    font-weight: bold;
  }
}

.fileUploadErrorMessage {
  padding: 12px;
  height: 48px;
  line-height: 48px;
  margin: -24px auto 24px auto;
  color: darken($error-color, 10%);
  width: calc(100% - 24px);
  border: 1px solid darken($error-color, 10%);
  background-color: rgba($error-color, 0.025);
  .Icon{
    float: left;
    margin: 0px 10px;
    font-size: 38px;
    .material-icons{
      color: darken($error-color, 10%) !important;
    }
  }
}