@import '~uqlibrary-react-toolbox/sass/variables';

.file-instructions {
  margin: 20px 0 0 0;
  padding: 16px;
  background-color: #F5F5F5;
  border: 2px dashed #8D8D8D;
  font-size: 0.9em;
  line-height: 1.2em;

  div, span, h3 {
    color: #757575 !important;
  }

  h3 {
    font-weight: bold !important;
  }

  .upload-instructions {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center !important;
    .material-icons {
      font-size: 36px !important;
    }
  }
}

.sub-title {
  font-size: 16px;
  padding-bottom: 12px;
  padding-top: 8px;
}

.disclaimer {
  font-size: 12px;

  span {
    font-weight: bold;
  }
}


//Desktop
@media (min-width: 768px) {
  .fileUploadErrorMessage {
    padding: 12px;
    color: darken($error-color, 10%);
    border: 1px solid darken($error-color, 10%);
    background-color: rgba($error-color, 0.025);
    vertical-align: middle;
    .Message {
      line-height: 50px;
      text-indent: 12px;
      margin-top: 0px !important;
    }
    .Icon {
      text-align: center;
      margin: 0 !important;
      font-size: 48px;
      .material-icons {
        font-size: 48px !important;
        color: darken($error-color, 10%) !important;
        margin: 0px auto !important;
      }
    }
  }
}
//Mobile
@media (max-width: 768px) {
  .fileUploadErrorMessage {
    padding: 12px;
    min-height: 60px;
    color: darken($error-color, 10%);
    border: 1px solid darken($error-color, 10%);
    background-color: rgba($error-color, 0.025);
    vertical-align: middle;
    .Message {
      padding: 12px !important;
      line-height: 18px;
      margin-top: 0px !important;
    }
    .Icon {
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 48px;
      height: 60px !important;
      width: 60px !important;
      .material-icons {
        font-size: 48px !important;
        color: darken($error-color, 10%) !important;
        margin: 0px auto !important;
      }
    }
  }
}


.upload-progress-ghost{

}