@import '~uqlibrary-react-toolbox/sass/variables';

.publicationsStatsTable {
  & thead tr th {
    white-space: normal !important;
    padding: 12px 12px 12px 24px ;
  }
  & thead tr th:nth-child(2), & thead tr th:nth-child(3), & tbody tr td:nth-child(2), & tbody tr td:nth-child(3) {
    text-align: center !important;
    width: 25%;
  }
  & tbody tr td {
    font-size: $text-body-large !important;
  }
  .publicationsStatsHeader {
    background-color: $accent-color;
    & .publicationsStatsHeaderTitle {
      color: $text-color-reverse !important;
      font-size: $text-body-large !important;
      font-weight: $text-weight-bold;
    }
  }
  .publicationsStatsRowTitle {
    font-weight: $text-weight-bold !important;
    white-space: normal !important;
  }
}

@include mobile {
  .publicationsStatsTable {
    overflow: hidden;
    & thead tr th {
      padding: 6px 0 6px 12px !important;
    }
    & thead tr th:nth-child(2), & thead tr th:nth-child(3) {
      width: 33%;
    }
    & tbody tr td {
      padding: 6px 0 6px 12px !important;
    }
    & tbody tr td:nth-child(2), & tbody tr td:nth-child(3) {
      width: 33% !important;
      white-space: normal !important;
    }
    .publicationsStatsHeader {
      & .publicationsStatsHeaderTitle {
        text-overflow: ellipsis;
      }
    }
  }
}