// Site typeface
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

// Bulma includes
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/base/helpers";

// Imports
@import 'variables';
@import 'components';
@import 'muifixes';

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $main-background-color;
  font-family: $font-family;
}

.layout-fill {
  margin: 0; padding: 0;
  max-height: 100%;
  height: 100%;
}

.layout-padding {
  padding: 20px;
}

.layout-card {
  max-width: 1200px;
  margin: 24px auto;
  width: 90%;
  padding: 0;
  @include mobile {
    margin: 0 auto 24px auto;
    padding: 0 10px 24px 10px;
  }
}

.card-header {
  padding: 0 0 0 24px !important;
  white-space: normal !important;
}

.standard-card {
  margin-bottom: 24px !important;

  &.with-theme-header {
    .card-header {
      padding: 0 0 16px 24px !important;
      background-color: $theme-color-lighter;
      h2 {
        color: $text-color-reverse;
      }
    }
  }
}

// The container which houses content
.content-container {
  width: 100%;
  height: calc(100% - 75px);
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 75px;
  padding-top: 24px;
  padding-bottom: 24px;

  .body-1 {
    padding: 12px 24px 24px 24px !important;
  }
  > *:first-child {
    margin: 0;
    width: 100%;
    max-height: 100%;
  }
}
