// Site typeface
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

// Bulma includes
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/base/helpers";

// Imports
@import 'variables';
@import 'components';
@import 'muifixes';

html, body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $main-background-color;
  font-family: $font-family;
}

.layout-fill {
  margin: 0; padding: 0;
  max-height: 100%;
  height: 100%;
}

.layout-padding {
  padding: 20px;
}

.layout-card {
  max-width: 1200px;
  margin: 24px auto;
  width: 90%;
  padding: 0;
  @include mobile {
    margin: 0 auto 24px auto;
    padding: 0 10px 24px 10px;
  }
}

.card-header{
  padding: 0 0 0 24px !important;
  white-space: normal !important;
}

.standard-card {
  margin-bottom: 24px !important;
}

// The container which houses content
.content-container {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 99px;
  @include mobile {
    padding-top: 86px !important;
  }

  .body-1 {
    padding: 0 24px 24px 24px !important;
  }
  > *:first-child {
    margin: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;
  }
}
