// Site typeface
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

// Bulma includes
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/base/helpers";

// Imports
@import 'variables';
@import 'components';

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $main-background-color;
  font-family: $font-family;
}
