// Fixes for input fields long floating labels and hint labels
.mui-long-labels-fix {
  & > div:first-of-type {
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & label:first-of-type {
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & label[style*="transform: scale(0.75)"] {
    width: calc(100% * 1.33) !important;
  }
}
