$font-family: 'Roboto', Arial, sans-serif !default

//Typography
$title-xlarge: 38px !default
$title-large: 32px !default
$title-medium: 24px !default
$title-small: 22px !default
$title-xsmall: 20px !default
$title-xxsmall: 16px !default

$text-body-large: 16px !default
$text-body-normal: 14px !default
$text-body-small: 12px !default
$text-body-xsmall: 11px !default

$text-line-height-large: 20px !default
$text-line-height-normal: 18px !default
$text-line-height-small: 14px !default
$text-line-height-xsmall: 12px !default

$text-weight-bold: 400 !default
$text-weight-normal: 300 !default
$text-weight-light: 100 !default

//theme colours
$theme-color: #49075E !default
$theme-color-dark: #370546 !default
$theme-color-lighter: #6B0C8A !default
$theme-color-light: #d2c1d7 !default

$accent-color: #2377CB !default
$accent-color-light: #288BED !default
$accent-color-lighter: #D9EEFF !default
$accent-color-dark: #005EA5 !default

$secondary-color: #595959 !default
$secondary-color-light: #f2f2f2 !default
$secondary-color-dark: #333333 !default

$error-color: #e02500 !default
$warning-color: #f06f0d !default
$info-color: #0e78f1 !default
$border-color: #CCCCCC !default
$available-color: #64b10b !default
$unavailable-color: #ce4627 !default
$header-color: #444444 !default
$label-color: #888888 !default

$text-color: #333333 !default
$text-color-reverse: #FFFFFF !default

//special elements colours
$menu-background-color: #FFFFFF !default
$main-background-color: #F7F7F7 !default

// Colors for dashboard graphs
$graph-background-color-1 : #d72865 !default
$graph-background-color-2 : #1e7d94 !default

$graph-color-1: #49075E !default
$graph-color-2: #468fcc !default
$graph-color-3: #f28620 !default
$graph-color-4: lighten($secondary-color, 33%) !default
$graph-color-5: darken($secondary-color, 10%) !default