// Styles for the "claim a publication" panel
.claimWrapper {
  padding: 10px 0px;
  margin: 20px auto 5px auto;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: none !important;
}

.claimWrapper:last-of-type {
  border-bottom: none;
}

.claimTitle {
  font-size: 1.5em;
}

a .claimTitle {
  color: #000;
}

.claimTitleIcon {
  opacity: 0.5;
  font-size: 0.66em !important;
  vertical-align: super !important;
  margin-left: 5px;
}

a:hover .claimTitleIcon {
  opacity: 1.0;
  color: #000 !important;
}

.claimAuthors, .claimJournal {
  margin: 10px 0 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.claimStats {
  margin: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.claimAuthorsIcon, .claimJournalIcon {
  font-size: 1.2em !important;
  vertical-align: sub;
  margin-right: 5px;
}

.claimStats img {
  width: 1em;
  height: 1em;
  filter: grayscale(1);
  vertical-align: sub;
}

.claimStatsIcon {
  font-size: 1.2em !important;
  vertical-align: sub;
  color: #333;
}

.claimButtonWrapper {
  float: right;
  display: inline-block;
}

.buttonWrapper {
  max-width: 1200px;
  margin: 24px auto;
  width: 90%;
  padding: 64px 0 24px 0;
  text-align: right;
}

.claimTitleIcon {
  color: $accent-color !important;
  &:hover {
    color: $theme-color !important;
  }
}

.claimCitation {
  margin-top: 5px;
}

.claimAllAuthors {
  a {
    display: none;
  }
}

.claimAuthors {
  .threeAuthors {
    display: none;
  }
  .allAuthors {
  }
}

.moreLessLink {
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}