@import '../../../../../sass/variables';

.auth-button-wrapper {
  min-width: 32px;
  .log-in-button, .log-out-button {
    color: $text-color-reverse;
    text-align: center;
    svg {
      fill: $text-color-reverse !important;
    }
  }

  button.log-in-button:focus {
    color: $theme-color-dark;
    svg {
      fill: $theme-color-dark;
      color: $theme-color-dark;
    }
  }
}