@import '../../../../../sass/variables';

.StandardRighthandCard {
  margin-bottom: 12px;
  .is-helpicon {
    margin: -18px -12px -10px 0 !important;
  }
  .StandardRighthandCardTitle {
    padding-bottom: 6px;
    margin-bottom:12px !important;
    border-bottom: 1px solid rgba($text-color, 0.2);
    & .cardTitle {
      color: $theme-color;
      font-size: $title-small;
    }
  }
}
