
.fileInstructions {
  margin: 20px 0 0 0;
  padding: 16px;
  background-color: rgba(0,0,0,0.05);
  font-size: 0.9em;
  line-height: 1.2em;
}

// Padding between inputs when not in mobile <600px mode
div.row-sm.column.align-stretch.align-center-sm .inputPadding, div.row .inputPadding {
  padding-right: 16px;
}
@media (max-width: 600px){
  div.row-sm.column.align-stretch.align-center-sm .inputPadding {
    padding-right: 0px;
  }
}

// Set the MaterialUI inputs labels to ellipsis when too long..
.row-sm label, .row label, .column label, .column-sm label  {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

// Negates the 24px top margin for autocomplete inputs
.auto-complete-select .base-input-container {
  margin-top: 0px !important;
}
