@import '../../../sass/variables';

.dashboard .column .standard-card {
  margin-bottom: 0px !important;
  height: 100% !important;
}

// Claim pub lure
.possiblePublicationLure {
  margin: -1px 0 0 0 !important;
  .alertWrapper {
    margin: 0 !important;
  }
}

// Loader
.isLoading {
  margin: 5% auto;
  opacity: 0.5;
}

// DashboardProfile
.imageCover {
  background-image: url('../../public/images/dashboard_cover.jpg');
  background-size: cover;
  background-position: center 25%;
  overflow: visible;
}

.userDetails {
  height: calc(100% - 48px);
  padding: 24px;
  .authorDetails {
    margin-left: 24px;
    color: $text-color-reverse;
    font-weight: $text-weight-light;
    .authorTitleName {
      font-size: $title-medium;
      margin-bottom: 6px;
    }
    .authorPositionOrg {
      font-weight: $text-weight-normal;
      font-size: $text-body-normal;
      line-height: $text-line-height-normal;
    }
    .authorPositions {
      min-height: 40px;
    }
  }
  //Avatar
  .authorAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    &div.authorAvatar {
      margin: auto 0;
    }
  }
  // Researcher Id's
  .researcherIds {
    margin: 24px 0 -12px 24px !important;
    height: 60px !important;
    .researcherIDlink {
      overflow: visible !important;
    }
    .researchIdAvatar {
      background-color: transparent !important;
      width: 52px;
      a {
        width: 52px;
      }
      &:hover {
        cursor: pointer;
      }
      &.error {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
      }
    }
    .orcid { // orcid required to be more prominent
      margin-top: -3px;
      zoom: 1.2;
      -moz-transform: scale(1.2);
      overflow: visible !important;
      // Firefox doesnt consider the zoom into the margin
      @-moz-document url-prefix() {
        margin: 0 12px 0 0;
      }
    }
    a.orcidLink {
      color: rgba($text-color-reverse, 0.8);
      font-size: $text-body-small;
      line-height: 4;
      &:hover {
        color: rgba($text-color-reverse, 1);
      }
    }
  }
}

// ArticleCount
.authorCount {
  display: flex;
  justify-content: center;
  align-items: center;
  .authorCounter {
    color: $text-color-reverse;
    margin: auto 0;
    height: auto;
    .noOfArticles {
      font-size: 100px;
      line-height: 80px;
      font-weight: $text-weight-light;
    }
    .articlesFrom {
      font-size: 18px;
      line-height: 26px;
      opacity: 0.9;
      font-weight: $text-weight-light;
    }
    .dateRange {
      font-size: 28px;
      line-height: 30px;
      font-weight: $text-weight-normal;
      & span {
        font-size: 24px;
        opacity: 0.9;
        font-weight: $text-weight-light;
      }
    }
  }
}

// My Trending Pubs
h2.trendingPubsSource {
  color: $theme-color !important;
  font-size: $title-medium;
  font-weight: $text-weight-normal;
  margin: 12px 0 0 0 !important;
}
.publicationCitation {
  border-bottom: 1px solid rgba($text-color, 0.15);
  margin-bottom: 12px;
  padding-bottom: 12px;

  h3.publicationTitle {
    margin: 0 0 6px 0 !important;
    font-size: $title-small !important;
    line-height: 24px;
    font-weight: $text-weight-normal !important;
  }
  .trendingPubsCitation {
    font-size: $text-body-small;
    line-height: $text-line-height-small;
  }
  a.citationCountLink {
    color: $accent-color !important;
    font-size: $text-body-small !important;
    font-weight: $text-weight-light !important;
    .citationCountIcon.material-icons {
      width: 12px;
      height: 12px;
      vertical-align: top;
      color: $accent-color !important;
    }
  }
  .trendingPubsCount {
    text-align: right;
    margin-left: 24px !important;
    font-size: $title-large;
    line-height: $title-large;
  }
  .trendingPubsDifference {
    color: $secondary-color;
    font-size: $title-small;
    line-height: $title-small;
    vertical-align: top;
  }
}
// Fix for Dashboard alerts so they dont space down because of layout-fill and layout-card
.dashAlert {
  &.layout-fill, .layout-card{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

// Mobile
@include mobile {
  .possiblePublicationLure {
    margin: -16px 0 0 0 !important;
    .alertWrapper {
      margin: 0 !important;
    }
  }

  // Fix for tab labels to wrap if too small.
  button.publicationTabs > div > div {
    white-space: normal;
    text-overflow: ellipsis;
  }

  h2.trendingPubsSource {
    font-size: $title-xsmall;
    font-weight: $text-weight-normal;
    margin: 6px 0 0 0 !important;
  }

  .publicationCitation {
    padding: 0 0 12px 0 !important;

    // My Trending Pubs
    h3.publicationTitle {
      font-size: $title-xsmall !important;
      font-weight: $text-weight-normal !important;
      line-height: $text-line-height-large !important;
      margin: 12px 0 6px 0 !important;
    }
    .trendingPubsCount {
      margin-left: 6px !important;
      font-size: $title-medium;
    }
    .trendingPubsDifference {
      font-size: $title-xxsmall;
    }
  }
}
