@import '~uqlibrary-react-toolbox/sass/variables';

.dashboard .column .standard-card {
  margin-bottom: 0px !important;
  height: 100% !important;
}

.possiblePublicationLure {
  margin: -1px 0 0 0 !important;
  .alertWrapper {
    margin: 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media all and (min-width: 768px) {

  .isLoading {
    margin: 5% auto;
    opacity: 0.5;
  }
  .imageCover {
    background-image: url('../../public/images/dashboard_cover.jpg');
    background-size: cover;
    background-position: center 25%;
    overflow: visible;
  }

  // DashboardProfile
  .userDetails {
    height: calc(100% - 48px);
    padding: 24px;
    .title {
      margin-bottom: 6px;
    }
    .authorDetails {
      margin-left: 24px;
      .accountTitleName {
        font-weight: 100;
      }
      .authorPositionOrg {
        font-weight: 100;
        font-size: 14px;
        line-height: 18px;
      }
      .authorPositions {
        min-height: 40px;
      }
    }
    //Avatar
    .authorAvatar{
      display: flex;
      justify-content: center;
      align-items: center;
      &div.authorAvatar{
        margin: auto 0;
      }
    }
    // Researcher Id's
    .researcherIds {
      margin: 24px 0 -12px 24px !important;
      height: 60px !important;
      .researchIdAvatar {
        margin-right: 12px;
        box-shadow: 0 0 15px rgba(black, 0.3);
        background-color: transparent !important;
        &:hover {
          cursor: pointer;
        }
        &.ok {
        }
        &.error {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: 0.75;
        }
      }
      .orcid { // orcid required to be more prominent
        margin-top: -3px;
        zoom: 1.2;
        -moz-transform: scale(1.2);
        @-moz-document url-prefix() {
          margin-top: 0px;
        }
      }
      a.orcidLink {
        color: rgba($text-color-reverse, 0.8);
        font-size: 12px;
        line-height: 3;
        margin: 0 0 0 -6px;
        &:hover {
          color: rgba($text-color-reverse, 1);
        }
      }
    }
  }

  // ArticleCount
  .authorCount {
    display: flex;
    justify-content: center;
    align-items: center;
    .authorCounter {
      color: $text-color-reverse;
      margin: auto -24px auto 0;
      height: auto;
      .noOfArticles {
        font-size: 110px;
        line-height: 80px;
        font-weight: 100;
      }
      .articlesFrom {
        font-size: 16px;
        line-height: 26px;
        opacity: 0.75;
        font-weight: 100;
      }
      .dateRange {
        font-size: 30px;
        line-height: 30px;
        font-weight: 100;
        & span {
          font-size: 24px;
          opacity: 0.75;
        }
      }
    }
  }
}