@import '~uqlibrary-react-toolbox/sass/variables';

@media all and (min-width: 768px) {

  //DashbaordAccountDetails
  .image-cover {
    background-image: url('../../public/images/dashboard_cover.jpg');
    background-size: cover;
    background-position: center 25%;
    overflow: hidden;
    height: 200px;
  }
  .user-information {
    padding: 24px;
    .title{
      margin-bottom: 6px;
    }
    .subtitle{

    }
    .accountHeadshot{
      width: 100px;
      height: 100px;
      border-radius: 50px;
      overflow: hidden;
      background-color: $theme-color;
      color: $text-color-reverse;
      vertical-align: middle;
      text-align: center;
      line-height: 100px;
    }
  }


  //ArticleCount
  .articleCount{
    height: 100%;
    padding: 24px;
    .noOfArticles{
      font-size: 110px;
      line-height: 90px;
      font-weight: 100;
    }
    .articlesFrom{
      font-size: 18px;
      line-height: 26px;
      opacity: 0.75;
      font-weight: 100;
    }
    .dateRange{
     font-size: 30px;
      line-height: 30px;
      font-weight: 100;
      & span {
        font-size: 24px;
        opacity: 0.75;
      }
    }
  }


  // Lure
  .notification-wrap {
    margin: -1px 0 0 0 !important;
    .button-wrap {
      padding-top: 15px !important;
    }
    .hide-appbar {
      color: rgba($text-color-reverse, 0.5) !important;
      &:hover {
        color: rgba($text-color-reverse, 1) !important;
      }
    }
    .alertText{
      padding-top: 18px !important;
    }
    .alertIcon{
      padding: 18px 12px 0px 12px !important;
    }
    .alertWrapper {
      margin: 0px !important;
      button.claim-publications {
        color: #FFF !important;
        background-color: darken($warning-color, 7.5%) !important;
        margin-top: 6px !important;
      }
    }
  }

  // Publications linked from table on dashboard
  .linkedPubsTable {

  }
}






@media all and (max-width: 768px) {

  .notification-wrap {
    margin: -1px 0 0 0 !important;
    .button-wrap {
      padding-top: 0px !important;
    }
    .alertText {
      padding: 20px 0px 0px 12px !important;
      margin: 0px 12px 0px 0px !important;
      font-size: 16px;
      line-height: 16px;
    }
    .alertIcon span.material-icons {
        height: 40px;
        margin: 0px 12px 0px 0 !important;
        padding-bottom: 0px !important;
        font-size: 50px !important;
    }
    .alertWrapper{
      margin: 0px !important;
      button.claim-publications{
        color: #FFF !important;
        background-color: darken($warning-color, 7.5%) !important;
        width: 100% !important;
      }
    }
  }

  .time {
    font-size: 14px !important;
  }

  .dashboard-plans {
    width: 100%;

    .head {
      padding: 20px;
      background-color: $theme-color;

      h2 {
        color: #FFF;
      }
    }
  }

  .dashboard-collaborators {
    width: 100%;

    .head {
      padding: 20px;
      background-color: $accent-color;

      h2 {
        color: #FFF;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
