@import '~uqlibrary-react-toolbox/sass/variables';

.grey-cover {
  z-index: 2;
  background-color: #000;
  opacity: 0.30;
  height: 80px;
}

.user-information {
  padding: 20px 20px !important;
}

.image-cover {
  background-image: url('../../../../public/images/dashboard_cover.jpg');
  background-size: cover;
  background-position: 0;
  overflow: hidden;
  height: 300px;
  @media all and (max-width: 599px) {
    height: 250px;
  }
}

.time-display-wrap {
  padding: 26px 0 0 26px;
  background-color: rgba(20, 20, 20, 0.8);
  color: #FFFF !important;
  height: 75px;
  margin-top: -101px;
}

.time-display {
  color: #FFFF !important;
  white-space: nowrap;
}

.time {
  font-size: 14px;
  color: #FFF;
}

.location {
  font-size: 12px;
  color: #FFF;
  opacity: 0.8;
}

@media all and (max-width: 600px) {

  .time-display-wrap {
    padding: 15px 0px 0px 15px !important;
    background-color: rgba(20, 20, 20, 0.8);
    color: #FFFF !important;
    height: 60px;
    margin-top: -75px;
  }

  .time {
    font-size: 14px !important;
  }

  .dashboard-plans {
    width: 100%;

    .head {
      padding: 20px;
      background-color: $theme-color;

      h2 {
        color: #FFF;
      }
    }
  }

  .dashboard-collaborators {
    width: 100%;

    .head {
      padding: 20px;
      background-color: $accent-color;

      h2 {
        color: #FFF;
      }
    }

    a {
      text-decoration: none;
    }
  }
}