@import '~uqlibrary-react-toolbox/sass/variables';

.grey-cover {
  z-index: 2;
  background-color: #000;
  opacity: 0.30;
  height: 80px;
}

.user-information {
  padding: 20px 20px !important;
}

.image-cover {
  background-image: url('../../../../public/images/dashboard_cover.jpg');
  background-size: cover;
  background-position: 0;
  overflow: hidden;
  height: 300px;
  @media all and (max-width: 599px) {
    height: 250px;
  }
}

.notification-wrap {
  padding: 26px 0 0 0px;
  height: 64px;
  margin-top: -90px;
  overflow: hidden;
}

.time-display {
  color: #FFFF !important;
  white-space: nowrap;
}

.time {
  font-size: 14px;
  color: #FFF;
}

.location {
  font-size: 12px;
  color: #FFF;
  opacity: 0.8;
}

.notification-wrap {
  .claim-publication-lure {
    background-color: #F26D00 !important;

    h1 {
      font-size: 18px !important;
    }
  }

  .error_outline {
    color: #FFF !important;
    font-size: 38px !important;
    line-height: 64px;
    margin-top: -8px;
    vertical-align: middle;
  }

  .button-wrap {
    display: flex;
  }

  .claim-publications {
    background-color: #D04908 !important;
    color: #FFF !important;
    align-self: center;
  }

  .hide-appbar {
    font-size: 34px;
    color: #FFAB91 !important;
  }
}

.claim-publication-lure-enter {
  transition-timing-function: ease-out;
  transition: 0.2s;

  /* Hide appbar by pushing it outside by default */
  transform: translateY(-130%);
}

.claim-publication-lure-leave {
  transition-timing-function: ease-in;
  transition: 0.2s;

  /* Hide appbar by pushing it outside by default */
  transform: translateY(130%);
}

@media all and (max-width: 600px) {

  .notification-wrap {
    padding: 15px 0px 0px 0px !important;
    height: 65px;
    margin-top: -79px;
  }

  .time {
    font-size: 14px !important;
  }

  .dashboard-plans {
    width: 100%;

    .head {
      padding: 20px;
      background-color: $theme-color;

      h2 {
        color: #FFF;
      }
    }
  }

  .dashboard-collaborators {
    width: 100%;

    .head {
      padding: 20px;
      background-color: $accent-color;

      h2 {
        color: #FFF;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
