@import '~uqlibrary-react-toolbox/sass/variables';

// Desktop
@media (min-width: 768px) {
 .alertWrapper {
   border-radius: 3px;
   margin: 24px 0 !important;
   padding: 12px;
   min-height: 40px;

   &.hidden {
     display: none !important;
   }

   .alertIcon {
     float: left;
     margin-right: -6px;
     span {
       font-size: 50px !important;
     }
   }
   .alertText {
     font-weight: bold;
     min-height: 40px;
     margin: 12px 0;
     div {
       margin: auto 0 !important;
     }

   }

   // Error
    &.error {
      border: 1px solid lighten($error-color, 10%);
      background-color: darken($error-color, 5%);
      .alertText {
        color: $text-color-reverse !important;
      }
      .alertIcon span {
        color: $text-color-reverse !important;
      }
    }

   // Warning
   &.warning {
     border: 1px solid lighten($warning-color, 10%);
     background-color: darken($warning-color, 0%);
     .alertText {
       color: $text-color-reverse !important;
     }
     .alertIcon span {
       color: $text-color-reverse !important;
     }
   }

   // Info
   &.info {
     border: 1px solid lighten($info-color, 10%);
     background-color: darken($info-color, 5%);
     .alertText {
       color: $text-color-reverse;
     }
     .alertIcon span {
       color: rgba($text-color-reverse, 0.9) !important;
     }
   }


  }
}


// Mobile
@media (max-width: 768px) {
  .alertWrapper {
    border-radius: 3px;
    margin: 24px 0 !important;
    padding: 12px;
    min-height: 40px;

    &.hidden {
      display: none !important;
    }

    .alertIcon {
      float: left;
      margin-bottom: -20px;
      padding: 6px 12px 12px 6px !important;
      span {
        font-size: 30px !important;
        line-height: 40px;
      }
    }
    .alertText {
      font-weight: bold;
    }

    // Error
    &.error {
      border: 1px solid lighten($error-color, 10%);
      background-color: darken($error-color, 5%);
      .alertText {
        color: $text-color-reverse !important;
      }
      .alertIcon span {
        color: $text-color-reverse !important;
      }
    }

    // Warning
    &.warning {
      border: 1px solid lighten($warning-color, 10%);
      background-color: darken($warning-color, 0%);
      .alertText {
        color: $text-color-reverse !important;
      }
      .alertIcon span {
        color: $text-color-reverse !important;
      }
    }

    // Info
    &.info {
      border: 1px solid lighten($info-color, 10%);
      background-color: darken($info-color, 5%);
      .alertText {
        color: $text-color-reverse;
      }
      .alertIcon span {
        color: rgba($text-color-reverse, 0.9) !important;
      }
    }


  }
}