@import '../../../../../sass/variables';

.main-drawer {
  position: absolute;
  .main-menu:focus {
    outline: none;
  }
  .skipNav{
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 998;
    left: -2000px;
    outline: none;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 78%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 78%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 78%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    &:focus {
      left:0;
    }
    .skipNavButton {
      position: absolute;
      top: 25%;
      left: calc(50% - 90px);
      text-align: center;
      width: 160px;
      white-space: normal;
      overflow: visible;
      z-index: 999;
    }
  }
  .side-drawer {
    .logo-wrapper {
      height: 75px;
      padding: 10px;
      text-align: center;
      background-color: $theme-color;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;

      img {
        height: 100%;
      }
    }
    .menu-item-container a:hover {
      text-decoration: none !important;
    }
  }
  @include mobile{
    .menuCloseButton button svg {
      fill: $text-color-reverse !important;
    }
  }
}
