@import '../../../../sass/variables';

.publicationCitation {
  border-bottom: 1px solid rgba($text-color, 0.15);
  margin-bottom: 12px;
  padding-bottom: 12px;
  h3.publicationTitle {
    margin: 0 0 6px 0 !important;
    font-size: $title-small !important;
    line-height: 24px;
    font-weight: $text-weight-normal !important;
  }
  a.citationCountLink {
    color: $accent-color !important;
    font-size: $text-body-small !important;
    font-weight: $text-weight-light !important;
    .citationCountIcon.material-icons {
      width: 12px;
      height: 12px;
      vertical-align: top;
      color: $accent-color !important;
    }
  }
}

// Mobile
@include mobile {
  .publicationCitation {
    padding: 0 0 12px 0 !important;
    h3.publicationTitle {
      font-size: $title-xsmall !important;
      font-weight: $text-weight-normal !important;
      line-height: $text-line-height-large !important;
      margin: 12px 0 6px 0 !important;
    }
  }
}
