@import '../../../../sass/variables';

.authorSteps {
  font-weight: $text-weight-bold;
  color: $theme-color-lighter;
}

.contributorsHeader {
  &.datalist.datalist-header {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
  }
  .authorIcon {
    width: 48px;
  }
  .description {
    text-indent: 6px !important;
  }
  .identifier {
    text-indent: 0 !important;
  }
  .order {
    width: 100px;
  }
  .iconSpacer {
    width: 50px;
  }
}
.authors-infinite {
  padding-left: 5px;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  @include mobile {
    padding-left: 0;
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 14px;
    background-color: lighten($secondary-color, 62%);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: 3px solid lighten($secondary-color, 62%);
    background-color: rgba($secondary-color, 0.2);
  }
}
.validationErrorMessage {
  color: $error-color;
  font-size: $text-body-small;
  margin: 12px 0 0 0;
}
