@import '../../../../sass/dataList';

//Desktop
@media (min-width: 768px) {
  .addContributorAddButton {
    margin-top: 30px;
  }
  .contributorsRow {
    .contributorReorder, .contributorsHeader .order {width: 96px !important;}
    .reorderDown{ float: right !important;}
    .reorderUp{ float: left !important;}
  }
}

//Mobile
@media (max-width: 768px) {
  .addContributorAddButton {
   width: 100%;
  }
  .contributorsHeader .material-icons, .contributorsRow .deleteIcon {
      margin-left: -12px;
    }
}
