@import '../../../../sass/variables';

.authorSteps {
  font-weight: $text-weight-bold;
  color: $theme-color-lighter;
}
.contributorsHeader {
  &.datalist.datalist-header {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
  }
  .authorIcon {
    width: 48px;
  }
}
.validationErrorMessage {
  color: $error-color;
  font-size: $text-body-small;
  margin: 24px 0 0 0;
}
.contributorsRow {
  padding: 0;
  > .columns {
    margin-bottom: 0 !important;
  }
  .contributorDetails {
    padding: 6px;
    @include mobile {
      padding-left: 12px;
    }
  }
  .contributorActions {
    padding: 6px;
  }
  &.datalist-row {
    margin-bottom: 0px !important;
  }
  &:hover {
    background-color: rgba($secondary-color-light, 0.5);
    cursor: pointer;
  }
  .datalist-text {
    margin-top: 6px !important;
    line-height: 18px !important;
  }
  .authorIcon {
    padding: 12px;
    opacity: 0.66;
  }

  // Selected author
  &.selected {
    background-color: $theme-color;
    .datalist-text {
      color: $text-color-reverse;
      .datalist-text-subtitle {
        color: $text-color-reverse !important;
      }
    }
    .material-icons {
      opacity: 1;
      color: $text-color-reverse !important;
      &:hover {
        color: rgba($text-color-reverse, 0.66) !important;
      }
    }
  }
}
.authors-infinite {
  padding-left: 5px;
  overflow: visible;
  @include mobile {
    padding-left: 0;
  }
}
