// Override Material UI wanting to nowrap the card titles
div.layout-card > div > div { white-space: normal !important;}

.Stepper {
  width: 90% !important;
  margin: 0px auto !important;
  max-width: 1280;
}

// Stepper: Targets the div wrapping just the stepper
.Stepper>div:first-child {
  overflow: hidden;
}

// Stepper: Targets the step icon
.Stepper div span span {
}

// Targets the step span which contains the icon and text
.Stepper>div>div>span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .Stepper div span span {
    padding: 0 4px 0 0 !important;
  }
  .Stepper > div > div > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -999px;
    padding: 0px !important;
  }
}