// Styles for the "claim a publication" panel
@media (max-width: 600px) { //XS
  .claimButtonWrapper {
    text-align: right;
    margin: 10px 0 0 0;
  }
}
@media (min-width: 600px) { //LG
  .claimButtonWrapper {
    text-align: right;
    margin: -35px 0 0 0;
    display: inline-block;
    float: right;
  }
}

.buttonWrapper {
  text-align: right;
  margin: -70px auto 20px auto;
  max-width: 1100px;
}

// Override Material UI wanting to nowrap the card titles
div.layout-card > div > div { white-space: normal !important;}


// Stepper: Targets the div wrapping just the stepper
.Stepper>div:first-child {
  overflow: hidden;
}

// Stepper: Targets the step icon
.Stepper div span span {
}

// Targets the step span which contains the icon and text
.Stepper>div>div>span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .Stepper div span span {
    padding: 0 4px 0 0 !important;
  }
  .Stepper > div > div > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -999px;
    padding: 0px !important;
  }
}