@import '../../../../sass/variables';

.newsFeed {
  .newsItemContainer {
    margin: 8px 0;
    clear: both;

    .dateContainer {
      float: left;
      margin: 8px 0 0;
    }
    .newsItemText {
      overflow: hidden;
    }
  }

  .dateContainer {
    color: $theme-color-lighter;
    align-items: center;
    padding-right: 16px;

    .date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .day {
        font-weight: 400;
        font-size: 2em;
      }
      .month {
        font-weight: 800;
        text-transform: uppercase;
      }
      .year {
        font-weight: 600;
      }
    }
  }
}
