@import '../../../../../sass/variables';

// Common
.alertWrapper {
  padding: 12px !important;
  .linked:hover {
    cursor: pointer;
  }
  .column{
    padding: 0px !important;
    margin: 0px !important;
  }
  .noDismiss {
    padding-right: 24px !important;
  }
  .alertIcon {
    padding: 16px !important;
    width: 40px;
    height: 40px;
    .material-icons {
      font-size: 40px !important;
    }
    .alertSpinner {
      padding: 2px;
    }
  }
  .alertText {
    font-weight: $text-weight-normal !important;
    font-size: $text-body-normal !important;
    margin: 12px 12px 12px 0 !important;
    .alertTitle {
      font-weight: bold !important;
      font-size: $text-weight-normal !important
    }
  }

  // Colors and styles
  &.help {
    background-color: darken($theme-color, 5%);
    .alertText, .alertTitle {
      color: $text-color-reverse !important;
    }
    .alertIcon .material-icons {
      color: $text-color-reverse !important;
    }
    .alertSpinner svg circle {
      stroke: $text-color-reverse !important;
    }
    svg.alertDismiss {
      fill: $text-color-reverse !important;
    }
    button.alertAction {
      background-color: darken($theme-color, 12%) !important;
      color: $text-color-reverse !important;
    }
  }
  &.help_outline {
    background-color: lighten($secondary-color, 50%);
    .alertText, .alertTitle {
      color: $text-color !important;
    }
    .alertIcon .material-icons {
      color: $text-color !important;
    }
    .alertSpinner svg circle {
      stroke: $text-color !important;
    }
    svg.alertDismiss {
      fill: $text-color !important;
    }
    button.alertAction {
      background-color: lighten($secondary-color, 40%) !important;
      color: $text-color !important;
    }
  }
  &.error, &.error_outline {
    background-color: darken($error-color, 5%);
    .alertText, .alertTitle {
      color: $text-color-reverse !important;
    }
    .alertIcon .material-icons  {
      color: $text-color-reverse !important;
    }
    a {
      color: $text-color-reverse !important;
    }
    .alertSpinner svg circle {
      stroke: $text-color-reverse !important;
    }
    svg.alertDismiss {
      fill: $text-color-reverse !important;
    }
    button.alertAction {
      background-color: darken($error-color, 15%) !important;
      color: $text-color-reverse !important;
    }
  }
  &.warning {
    background-color: darken($warning-color, 5%);
    .alertText, .alertTitle {
      color: $text-color-reverse !important;
    }
    .alertIcon .material-icons  {
      color: $text-color-reverse !important;
    }
    a {
      color: $text-color-reverse !important;
    }
    .alertSpinner svg circle {
      stroke: $text-color-reverse !important;
    }
    svg.alertDismiss {
      fill: $text-color-reverse !important;
    }
    button.alertAction {
      background-color: darken($warning-color, 10%) !important;
      color: $text-color-reverse !important;
    }
  }
  &.info, &.info_outline {
    background-color: darken($info-color, 5%);
    .alertText, .alertTitle {
      color: $text-color-reverse;
    }
    .alertIcon .material-icons  {
      color: rgba($text-color-reverse, 0.9) !important;
    }
    a {
      color: $text-color-reverse !important;
    }
    .alertSpinner svg circle {
      stroke: rgba($text-color-reverse, 0.75) !important;
    }
    svg.alertDismiss {
      fill: $text-color-reverse !important;
    }
    button.alertAction {
      background-color: darken($info-color, 15%) !important;
      color: $text-color-reverse !important;
    }
  }
  &.done {
    background-color: darken($available-color, 10%);
    .alertText, .alertTitle {
      color: $text-color-reverse;
    }
    .alertIcon .material-icons  {
      color: rgba($text-color-reverse, 0.9) !important;
    }
    .alertSpinner svg circle {
      stroke: rgba($text-color-reverse, 0.75) !important;
    }
    svg.alertDismiss {
      fill: $text-color-reverse !important;
    }
    button.alertAction {
      background-color: darken($available-color, 20%) !important;
      color: $text-color-reverse !important;
    }
  }
}

// Desktop
@include tablet {
  .alertWrapper {
    margin: 12px 0;
    .alertText {
      display: flex;
      align-items: center;
    }
    button.alertAction {
      margin: 18px 0 !important;
      vertical-align: middle;
    }
    .alertDismissButton {
      margin: 12px 0 !important;
    }
  }
}

// Mobile
@include mobile {

  .alertWrapper {
    padding: 24px !important;
    margin: 6px 0 12px 0 !important;

    .alertText {
      margin: 18px 0 12px 0 !important;
      padding-bottom: 0 !important;
    }

    button.alertAction {
      width: calc(100%);
      line-height: 18px !important;
      margin: 0 !important;
    }
  }
}
