@import '../../../../sass/variables';

.externalLink {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
}

.externalLink.showIcon:before {
  @extend .material-icons;
  font-family: 'Material Icons';
  content: '\E89E';
  margin-left: 3px;
  font-size: $text-body-xsmall;
  float: right;
}