@import '../../../../sass/variables';

.openExternalUrlIcon {
  height: $text-body-small !important;
  width: $text-body-small !important;
  font-size: $text-body-small !important;
  fill: $accent-color !important;
  color: $accent-color !important;
  margin: 0 2px;
  vertical-align: super !important;
}
