@import '../../../sass/variables';

.topCitedPubs {
  .subTitle {
    height: 40px;
  }
  .publicationCitation .count-icon-container .count {
    font-size: $text-body-large;
  }
  .trendingPubsSection .publicationCitation {
    min-height: 65px;
  }
}
