@import '../../../sass/variables';
.viewRecord {

  // Common ----------------------------------------------------

  // Table Horizontal data
  table.horizontal {
    td, th {
      padding: 0 6px !important;
      height: 14px !important;
    }
    .header {
      height: 24px !important;
      tr {
        height: 24px !important;
      }
      th {
        height: 14px !important;
        line-height: 14px !important;
        padding: 0 6px !important;
        color: #adadad !important;
        font-weight: 300 !important;
      }
    }
    .data {
      tr {
        height: 38px !important;
      }
      td {
        height: 38px !important;
        line-height: 24px !important;
        padding: 0 6px !important;
      }

    }
  }

  // Table Vertical data
  table.vertical {
    tr {
      height: 32px !important;
    }
    td {
      height: 32px !important;
      line-height: 24px !important;
      overflow: hidden !important;
      padding: 6px 0 0 0 !important;
      vertical-align: top !important;
      white-space: normal !important;
    }
    .header {
      font-weight: $text-weight-bold !important;
      @include tablet {
        width: 200px !important;
      }
      @include mobile {
        width: 100% !important;
        display: inline-block;
      }
    }
    .data {
      white-space: normal !important;
       height: auto !important;
      ul {
        padding: 0 !important;
        margin: 0 !important;
      }
      @include tablet {
        width: 100% !important;
      }
      @include mobile {
        width: 100% !important;
        display: inline-block !important;
      }
    }


  }

  // Components ------------------------------------------------

  // Files
  .files {
    .fileIcon {
      svg {
        fill: lighten($secondary-color, 33%) !important;
        width: 24px !important;
        height: 24px !important;
        padding: 8px 6px 0 0 !important;
      }
    }
    // columns widths
    .filetype {
      width: 24px !important;
    }
    .filename {
      width: 45% !important;
      @include tablet-only {
        width: 50% !important;
      }
      @include mobile {
        width: 100% !important;
      }
    }
    .description {
      width: 40% !important;
      @include tablet-only {
        width: 50% !important;
      }
    }
    .size {
      text-align: right !important;
      width: 15% !important;
    }

  }

  // Links
  .links {
    .link {
      @include desktop {
        width: 47% !important;
      }
      @include tablet-only {
        width: 45% !important;
      }
      @include mobile {
        width: 100% !important;
      }
    }
    .description {
      @include desktop {
        width: 33% !important;
      }
      @include tablet-only {
        width: 35% !important;
      }
    }
    .oa {
      text-align: right !important;
      @include desktop {
        width: 20% !important;
      }
      @include tablet-only {
        width: 24px !important;
      }
      @include mobile {
        width: 24px !important;
      }
    }
  }

  // Related publicaitons
  .relatedPublications .publicationList {
    .displayType {
      font-style: italic;
    }

    div {
      display: inline;
    }

    h3 {
      display: inline;
      font-size: 1em !important
    }
  }

  // Grants
  .grants {

  }

  // Publication details
  .publicationDetails {

  }

  // Additional information
  .additionalInformation {

    .citationLabel {
      display: none;
    }

    .sherpaRomeoGreen {
      color: green;
    }

    .sherpaRomeoBlue {
      color: blue;
    }

    .sherpaRomeoYellow {
      color: yellow;
      background-color: grey;
      padding: 1px 3px;
    }
  }

  // Other -----------------------------------------------
  .openExternalUrlIcon {
    height: $text-body-small !important;
    width: $text-body-small !important;
    font-size: $text-body-small !important;
    fill: $accent-color !important;
    color: $accent-color !important;
    margin: 0 2px;
    vertical-align: top;
  }
  .publicationCitation {
    padding-top: 0 !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
  }
  .cardTitle {
    margin-bottom: 12px !important;
  }
  .citationCounts {
    .citationIcons {
      height: 24px !important;
      overflow: hidden !important;
      @include mobile {
        zoom: 2;
        padding-left: 0px !important;
      }
    }
  }
}
