@import '../../../sass/variables';

.viewRecord {
  margin-top: -12px !important;
  .publicationCitation {
    padding-top: 0 !important;
    border-bottom: none !important;
  }
  .openExternalUrlIcon {
    height: $text-body-small !important;
    width: $text-body-small !important;
    font-size: $text-body-small !important;
    fill: $accent-color !important;
    color: $accent-color !important;
    margin: 0 2px;
    vertical-align: top;
  }

  .tableRow, .headingColumn, .dataColumn {
    height: 0 !important;
    padding: 0.5em 0 0.5em 0.5em !important;
  }

  .headingColumn {
    width: 185px;
    vertical-align: top;
  }

  .dataColumn {
    font-weight: 700;
    white-space: normal !important;
    text-align: justify !important;
    text-justify: inter-word;
  }

  ul {
    padding: 0 !important;
    margin: 0 !important;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  .citationLabel {
    display: none;
  }

  .sherpaRomeoGreen {
    color: green;
  }

  .sherpaRomeoBlue {
    color: blue;
  }

  .sherpaRomeoYellow {
    color: yellow;
  }
}

