@import '../../../sass/variables';

.viewRecord {
  .file {
    td, th {
      padding: 0 6px !important;
      height: 14px !important;
      &.filename {
        width: 40% !important;
      }
      &.description {
        width: 30% !important;
      }
      &.oaStatus {
        width: 20% !important;
        @include mobile {
          width: 5% !important;
        }
      }
      &.size {
        width: 10% !important;
      }
    }
    .header {
      margin-top: 24px;
    }
    .tableHeader tr {
      height: 14px !important;
      th {
        height: 24px !important;
        line-height: 14px !important;
        padding: 0 !important;
        color: #adadad !important;
        font-weight: 300 !important;
      }
    }
    .fileDetails {
      width: 100%;
      .fileIcon {
        img, svg {
          color: lighten($secondary-color, 25%) !important;
          margin: auto 6px !important;
        }
      }
      .fileInfo {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        //max-width: 200px;
      }
      .fileName {
        margin-left: 12px;
        line-height: 47px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .audioWrapper {
        overflow: hidden;
        .audioButton {
          transform: scale(0.75);
          &.play {
            margin-right: -18px !important;
          }
          svg {
            //width: 12px !important;
            //height: 12px !important;
            fill: $secondary-color !important;
          }
        }
        .audioPlayer {
          margin-top: 8px;
          width: 100px;
          overflow: hidden;

        }
      }
    }
  }

  .filePreview {
    position: relative;
    top: -46px;
    text-align: right;
  }

  margin-top: -12px !important;
  .publicationCitation {
    padding-top: 0 !important;
    border-bottom: none !important;
  }
  .openExternalUrlIcon {
    height: $text-body-small !important;
    width: $text-body-small !important;
    font-size: $text-body-small !important;
    fill: $accent-color !important;
    color: $accent-color !important;
    margin: 0 2px;
    vertical-align: top;
  }

  table.grantInformation {
    margin-bottom: 1em;
  }

  .additionalInformation, .publicationDetails, .grantInformation {
    table-layout: auto !important;
    ul {
      padding: 0 !important;
      margin: 0 !important;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
    }
  }

  .tableRow, .headingColumn, .dataColumn {
    padding: 8px 6px !important;
    height: auto !important;
    @include mobile {
      padding:  6px 0 0 0 !important;
      height: auto !important;
    }
  }

  .headingColumn {
    font-weight: $text-weight-bold;
    font-size: $text-body-normal !important;
    vertical-align: top;
    white-space: normal !important;

    @include desktop {
      width: 150px;
    }
    @include tablet {
      width: 150px;
    }
    @include mobile {
      display: inline-block !important;
      width: calc(100% - 12px);
      height: auto !important;
    }
  }

  .dataColumn {
    font-weight: $text-weight-normal;
    white-space: normal !important;
    vertical-align: top;
    @include mobile {
      padding: 12px 0 12px 24px !important;
      display: inline-block !important;
      width: calc(100% - 24px);
      height: auto !important;
      word-break: normal !important;
    }
  }

  .citationLabel {
    display: none;
  }

  .sherpaRomeoGreen {
    color: green;
  }

  .sherpaRomeoBlue {
    color: blue;
  }

  .sherpaRomeoYellow {
    color: yellow;
    background-color: grey;
    padding: 1px 3px;
  }

  .viewRecordLinks {
    margin-top: 24px !important;
    .rowLink {
      width: 40%;
      @include mobile {
        width: 80% !important;
      }
    }
    .rowDescription {
      text-indent: 12px !important;
      width: 30%;
    }
    .rowOA {
      text-align: right !important;
    }
    .tableHeader {
      tr {
        height: 24px !important;
        th {
          height: $text-line-height-small !important;
          line-height: $text-line-height-small !important;
          padding: 0 !important;
          color: lighten($secondary-color, 33%) !important;
          font-weight: $text-weight-normal !important;
        }
      }
    }
    .tableData {
      tr {
        height: 30px !important;
        td {
          padding: 0 !important;
          height: $text-line-height-small !important;
          line-height: $text-line-height-small !important;
        }
      }
    }
  }
}
