@import '~uqlibrary-react-toolbox/sass/variables';

.facetsFilter {
  padding: 0;
  min-width: 140px;
  .facetsCategory {
    &.active {
      font-weight: bold !important;
    }
  }
  .facetsLink {
    &.active{
      font-weight: bold !important;
      color: $accent-color !important;
    }
  }
}