@import '~uqlibrary-react-toolbox/sass/variables';

.facetsFilter {
  padding: 0;
  min-width: 140px;

  .facetLinksList {
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.active {
      margin-top: 6px;
      max-height: 1000px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  h3.title {
    color: $theme-color;
  }
  .facetsKeywordFilter {
    margin-bottom: 0 !important;
  }
  .facetsCategoryTitle {
    font-weight: bold !important;
    border-bottom: 1px solid rgba($text-color, 0.075);
    margin-bottom: 6px;
    padding-bottom: 6px;
    background-image: url('data:image/svg+xml;utf-8,<svg fill="#CCCCCC" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-position: calc(100%) top;
    background-size: 20px;
    background-repeat: no-repeat;
    &.active {
      background-image: url('data:image/svg+xml;utf-8,<svg fill="#CCCCCC" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 14l5-5 5 5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') !important;
      background-position: calc(100%) top;
      background-size: 20px;
      background-repeat: no-repeat;
    }
  }
  .facetsCategory {
    margin: 6px 0 !important;
    font-weight: bold;
    background-image: url('data:image/svg+xml;utf-8,<svg fill="#CCCCCC" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-position: calc(100% + 48px) top;
    background-size: 20px;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
    }
  }
  .facetsList {
    width: 100%;
    margin: 6px 0 !important;
    .facetListItems {
      font-weight: normal !important;
      margin: 4px;
      padding: 2px 24px 2px 0px !important;
        width: calc(100% - 32px);
      background-image: url('data:image/svg+xml;utf-8,<svg fill="#CCCCCC" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
      background-position: calc(100% + 48px) top;
      background-size: 18px;
      background-repeat: no-repeat;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      &:hover {
        cursor: pointer;
      }
      &.active {
        // outline: none !important;
        color: $accent-color;
        margin: 4px;
        padding: 2px 18px 2px 6px !important;
        background-image: url('data:image/svg+xml;utf-8,<svg fill="#CCCCCC" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
        background-position: 100% top;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      &.inactive {
        opacity: 0.75;
      }
    }
  }
}