@import 'variables';

// Mixins
@mixin alignStart {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
}
@mixin alignEnd {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
}
@mixin alignCenter {
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
@mixin alignStretch {
  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
}

.row, .row-xs, .row-sm, .row-md, .row-lg, .row-xl, .column, .column-xs, .column-sm, .column-md, .column-lg, .column-xl {
  @include alignStart;

  &.align-start {  @include alignStart;  }
  &.align-end { @include alignEnd }
  &.align-center { @include alignCenter }
  &.align-stretch { @include alignStretch }

  // XS
  @media (min-width: $min-xs) {
    &.align-start-xs { @include alignStart; }
    &.align-end-xs { @include alignEnd }
    &.align-center-xs { @include alignCenter }
    &.align-stretch-xs { @include alignStretch }
  }

  // SM
  @media (min-width: $min-sm) {
    &.align-start-sm { @include alignStart; }
    &.align-end-sm { @include alignEnd }
    &.align-center-sm { @include alignCenter }
    &.align-stretch-sm { @include alignStretch }
  }

  // MD
  @media (min-width: $min-md) {
    &.align-start-md { @include alignStart; }
    &.align-end-md { @include alignEnd }
    &.align-center-md { @include alignCenter }
    &.align-stretch-md { @include alignStretch }
  }

  // LG
  @media (min-width: $min-lg) {
    &.align-start-lg { @include alignStart; }
    &.align-end-lg { @include alignEnd }
    &.align-center-lg { @include alignCenter }
    &.align-stretch-lg { @include alignStretch }
  }

  // XL
  @media (min-width: $min-xl) {
    &.align-start-xl { @include alignStart; }
    &.align-end-xl { @include alignEnd }
    &.align-center-xl { @include alignCenter }
    &.align-stretch-xl { @include alignStretch }
  }
}

// The below has to be expanded upon like the above
.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

@media(min-width: $min-md) {
  &.align-self-center-md {
    align-self: center;
  }
}

