.row, .column {
  &.justify-start { justify-content: flex-start; }
  &.justify-end { justify-content: flex-end; }
  &.justify-center { justify-content: center; }
  &.justify-between { justify-content: space-between; }
  &.justify-around { justify-content: space-around; }
}

@import 'variables';

// Mixins
@mixin justifyStart {
  justify-content: flex-start;
}
@mixin justifyEnd {
  justify-content: flex-end;
}
@mixin justifyCenter {
  justify-content: center;
}
@mixin justifyBetween {
  justify-content: space-between;
}
@mixin justifyAround {
  justify-content: space-around;
}

.row, .row-xs, .row-sm, .row-md, .row-lg, .row-xl, .column, .column-xs, .column-sm, .column-md, .column-lg, .column-xl {
  @include justifyStart;

  &.justify-start {  @include justifyStart; }
  &.justify-end { @include justifyEnd; }
  &.justify-center { @include justifyCenter; }
  &.justify-between { @include justifyBetween; }
  &.justify-around { @include justifyAround; }

  // XS
  @media (min-width: $min-xs) {
    &.justify-start-xs {  @include justifyStart; }
    &.justify-end-xs { @include justifyEnd; }
    &.justify-center-xs { @include justifyCenter; }
    &.justify-between-xs { @include justifyBetween; }
    &.justify-around-xs { @include justifyAround; }
  }

  // SM
  @media (min-width: $min-sm) {
    &.justify-start-sm {  @include justifyStart; }
    &.justify-end-sm { @include justifyEnd; }
    &.justify-center-sm { @include justifyCenter; }
    &.justify-between-sm { @include justifyBetween; }
    &.justify-around-sm { @include justifyAround; }
  }

  // MD
  @media (min-width: $min-md) {
    &.justify-start-md {  @include justifyStart; }
    &.justify-end-md { @include justifyEnd; }
    &.justify-center-md { @include justifyCenter; }
    &.justify-between-md { @include justifyBetween; }
    &.justify-around-md { @include justifyAround; }
  }

  // LG
  @media (min-width: $min-lg) {
    &.justify-start-lg {  @include justifyStart; }
    &.justify-end-lg { @include justifyEnd; }
    &.justify-center-lg { @include justifyCenter; }
    &.justify-between-lg { @include justifyBetween; }
    &.justify-around-lg { @include justifyAround; }
  }

  // XL
  @media (min-width: $min-xl) {
    &.justify-start-xl {  @include justifyStart; }
    &.justify-end-xl { @include justifyEnd; }
    &.justify-center-xl { @include justifyCenter; }
    &.justify-between-xl { @include justifyBetween; }
    &.justify-around-xl { @include justifyAround; }
  }
}
