@import 'variables';

@mixin layout {
  display: -webkit-flex;
  display: flex;
}

@mixin row {
  flex-direction: row;
  -webkit-flex-direction: row;
  @include layout;

  > * {
    display: flex;
  }
}

@mixin column {
  flex-direction: column;
  -webkit-flex-direction: column;
  @include layout;

  > * {
    display: flex;
  }
}

// Normal
.row { @include row; }
.column { @include column; }

// XS
@media (min-width: $min-xs) {
  .row-xs { @include row; }
  .column-xs { @include column; }
}

// SM
@media (min-width: $min-sm) {
  .row-sm { @include row; }
  .column-sm { @include column; }
}

// MD
@media (min-width: $min-md) {
  .row-md { @include row; }
  .column-md { @include column; }
}

// LG
@media (min-width: $min-lg) {
  .row-lg { @include row; }
  .column-lg { @include column; }
}

// XL
@media (min-width: $min-xl) {
  .row-xl { @include row; }
  .column-xl { @include column; }
}
