@import 'variables';

.flex { flex: 1; }
.flex-50 { flex: 1 1 50%; }
.flex-33 { flex: 1 1 33%; }
.flex-66 { flex: 1 1 66%; }

.flex-5 { flex: 1 1 5%; }
.flex-10 { flex: 1 1 10%; }
.flex-15 { flex: 1 1 15%; }
.flex-20 { flex: 1 1 20%; }
.flex-25 { flex: 1 1 25%; }
.flex-30 { flex: 1 1 30%; }
.flex-35 { flex: 1 1 35%; }
.flex-40 { flex: 1 1 40%; }
.flex-45 { flex: 1 1 45%; }
.flex-50 { flex: 1 1 50%; }
.flex-55 { flex: 1 1 55%; }
.flex-60 { flex: 1 1 60%; }
.flex-65 { flex: 1 1 65%; }
.flex-70 { flex: 1 1 70%; }
.flex-75 { flex: 1 1 75%; }
.flex-80 { flex: 1 1 80%; }
.flex-85 { flex: 1 1 85%; }
.flex-90 { flex: 1 1 90%; }
.flex-95 { flex: 1 1 95%; }
.flex-100 { flex: 1 1 100%; }

@media all and (max-width: $max-xs) {
  .hide-xs {
    display: none;
  }
}
@media all and (max-width: $max-sm) {
  .hide-sm {
    display: none;
  }
}
@media all and (max-width: $max-md) {
  .hide-md {
    display: none;
  }
}
@media all and (max-width: $max-lg) {
  .hide-lg {
    display: none;
  }
}