// Material Design break points
// https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
$min-xs: 0px;
$max-xs: 599px;

$min-sm: 600px;
$max-sm: 959px;

$min-md: 960px;
$max-md: 1279px;

$min-lg: 1280px;
$max-lg: 1919px;

$min-xl: 1920px;

// Media queries
$xs: "(min-width: #{$min-xs}) and (max-width: #{$max-xs})";
$gt-xs: "(min-width: #{$min-sm})";
$sm: "(min-width: #{$min-sm}) and (max-width: #{$max-sm})";
$gt-sm: "(min-width: #{$min-md})";
$md: "(min-width: #{$min-md}) and (max-width: #{$max-md})";
$gt-md: "(min-width: #{$min-lg})";
$lg: "(min-width: #{$min-lg}) and (max-width: #{$max-lg})";
$gt-lg: "(min-width: #{$min-xl})";
$xl: "(min-width: #{$min-xl})";
