@import 'alignment';
@import 'justifications';
@import 'layout';
@import 'sizes';

.layout-fill {
  margin: 0;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.layout-padding {
  padding: 20px;
}