@import '../../../../../sass/variables';

@include mobile {
  .dialog-actions {
    .column {
      padding-top: 0px !important;
    }
  }
}

@include tablet {
  .dialog-actions {
    .column {
      padding-left: 0px !important;
    }
  }
}